<div>
	<svg style=" float: left; display: inline; max-height: 5em; vertical-align: top; text-align: center" viewBox="-320 -320 640 640" xmlns="http://www.w3.org/2000/svg">
		<style type="text/css">
			circle {
				fill: none;
				stroke-width: 20;
			}
		</style>
		<circle cx="0" cy="0" r="300" stroke="#666" />
		<circle cx="0" cy="0" r="100" stroke="#600" />
		<circle cx="0" cy="-100" r="200" stroke="#333" />
		<circle cx="0" cy="100" r="200" stroke="#333" />
	</svg>
	<h1 style="display: block; text-align: center; font-family: Caveat, Segoe script, Rage, 'Script MT', 'Snell Roundhand', 'Lucida Handwriting'; font-size: 4rem; font-weight: 400; color: #333; line-height: 0.7em; padding-top: 0.1em; margin-right: 2em;">
		Dabbling in
		<span style="display: block; font-family: Cinzel, Copperplate, 'Copperplate Gothic Light', fantasy; font-size: 0.8em; font-weight: 800; color: #600; text-transform: uppercase;">Dogmas</span>
	</h1>
</div>
