---
layout: default
---

<div class="home">
	{%- if page.title -%}
		<h1 class="page-heading py-3">{{ page.title }}</h1>
	{%- endif -%}

	{{ content }}


	{% if site.paginate %}
		{% assign posts = paginator.posts %}
	{% else %}
		{% assign posts = site.posts %}
	{% endif %}


	{%- if posts.size > 0 -%}
		{%- if page.list_title -%}
			<h2 class="post-list-heading">{{ page.list_title }}</h2>
		{%- endif -%}
		<h2>Latest Episode</h2>
		{% assign episode = site.posts.first %}
		{%- assign audio = site.data.dabbling-in-dogmas.files | where: 'track', episode.episode | first-%}
		<div class="card">
			<img class="card-img-top" class="width: 100%; max-height: 40vh; object-fit: cover;" alt="" src="{% if episode.image %}{{ episode.image | absolute_url }}{% else %}{{ episode.episode | prepend: '/assets/img/' | append: '.jpg' | absolute_url }}{% endif %}">
			<div class="card-body">
				<h5 class="card-title">{{ episode.title }}</h5>
				<h6>{{ episode.date | date_to_long_string }}</h6>
				<p class="card-text">{{ episode.excerpt }}</p>
				<a href="{{ episode.url }}" class="btn btn-primary">Listen</a>
			</div>
		</div>
		<h2>Previous Episodes</h2>
		{%- for episode in posts -%}
		{%- assign audio = site.data.dabbling-in-dogmas.files | where: 'track', episode.episode | first-%}
			<div class="card" style="width: 18rem;">
				<img class="card-img-top img-fluid" alt="" src="{% if episode.image %}{{ episode.image | absolute_url }}{% else %}{{ episode.episode | prepend: '/assets/img/' | append: '.jpg' | absolute_url }}{% endif %}">
				<div class="card-body">
					<h5 class="card-title">{{ episode.title }}</h5>
					<h6>{{ episode.date | date_to_long_string }}</h6>
					<p class="card-text">{{ episode.excerpt }}</p>
					<a href="{{ episode.url }}" class="btn btn-primary">Listen</a>
				</div>
			</div>
		{%- endfor -%}
		{% if site.paginate %}
			<div class="pager">
				<ul class="pagination">
				{%- if paginator.previous_page %}
					<li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
				{%- else %}
					<li><div class="pager-edge">•</div></li>
				{%- endif %}
					<li><div class="current-page">{{ paginator.page }}</div></li>
				{%- if paginator.next_page %}
					<li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
				{%- else %}
					<li><div class="pager-edge">•</div></li>
				{%- endif %}
				</ul>
			</div>
		{%- endif %}

	{%- endif -%}

</div>
